:root {
    --bulma-primary-h: 0deg;
    --bulma-primary-s: 0%;
    --bulma-primary-l: 89%;
    --bulma-navbar-burger-color:var(--bulma-dark);
  }

  /* Logo Styling */
  .logo {
    width: 200px;
    height: 110px;
    background-image: url('assets/img/Logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }

  .navbar-logo {
    position: absolute;
    left: 30%;
    transform: translateX(50%);
  }

  @media screen and (max-width: 430px) {
    .navbar-logo {
      left: 50%;
      transform: translateX(0);
    }

    .logo {
      width: 110px;
      height: 70px;
      position: relative;
    }
  }

  .hero-body {
    position: relative;
    height: 100%;
  }

  .hero-container {
    position: relative;
    z-index: 2;
    color: #fff;
  }

  .hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/img/home-wallpaper-cold-light.jpeg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    filter: brightness(60%);
    z-index: 1;
  }

.img-spacer {
  background-image: url('assets/img/home-wallpaper-cold-light.jpeg') !important;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  filter: brightness(60%);
  height: 500px;
}

.line-spacer {
  border-top: 1px solid #e0e0e0;
  width: 55%;
  margin: 0 auto;
}

.swiper-pagination {
  position: relative;
  margin-top: 20px;
  text-align: center;
  width: 100%;
  height: auto;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: gray;
  opacity: 1;
  margin: 0 5px;
}

.swiper-pagination-bullet-active {
  background: white;
  transform: scale(1.2);
  transition: transform 0.3s ease, background 0.3s ease;
}

.swiper-button-next, .swiper-button-prev {
  color: white;
  font-weight: bold;
  font-size: 20px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 210px;
  transition: background 0.3s ease, transform 0.3s ease;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
  background: rgba(255, 255, 255, 0.5);   transform: scale(1.1);
}

.swiper-button-next::after, .swiper-button-prev::after {
  font-size: 20px;
  font-weight: bold;
  color: black;
}